.content {
    background-color: #ffffff;
    color: white !important;
    width: 80%;
    height: 90vh;
    border-radius: 10px 20px 30px 40px;
  }
  /* .navbar {
    background-color: #198754;
    
  /* } */
  .navbar-brand, .nav-link {
     color: white !important;  
  }
   .card-img-top {
    height: 60%;
    object-fit: cover;
  } 


  .page{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url('https://wallpapers.com/images/hd/minimalist-blue-e0q5nh2rivmv9eio.jpg'); /* Cambia esta URL si lo deseas */

  }