
<!-- Navbar -->



<div class="page">
    <div class="content">
        <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container " >
            <a class="navbar-brand" href="#">Tienda</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </nav>

        <!-- Productos -->
        <div class="container py-5">
        <h2 class="mb-4 text-center">Nuestros Productos</h2>
        <div class="row g-4">

            <!-- Producto 1 -->
            <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://naturalpride.co/cdn/shop/files/NaturalPride_LS-4_430083a3-7df7-4de8-a6cb-4d781e36eca2.jpg?v=1725401831&width=2200" class="card-img-top" alt="Comida para perros">
                <div class="card-body">
                <h5 class="card-title">Comida para Perros</h5>
                <p class="card-text">Bolsa 10kg – Alimento Premium.</p>
                <p class="text-success fw-bold">$75.000</p>
                </div>
            </div>
            </div>

            <!-- Producto 2 -->
            <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://dcdn-us.mitiendanube.com/stores/003/400/499/products/juguete-para-gato-con-resorte111-6cc2e016aa7901916b16938281984061-1024-1024.png" class="card-img-top" alt="Juguete para gatos">
                <div class="card-body">
                <h5 class="card-title">Juguete para Gatos</h5>
                <p class="card-text">Ratón de peluche con catnip.</p>
                <p class="text-success fw-bold">$15.000</p>
                </div>
            </div>
            </div>

            <!-- Producto 3 -->
            <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="https://sumerlabs.com/default/image-tool-lambda?new-width=700&new-height=700&new-quality=80&url-image=https%3A%2F%2Fsumerlabs.com%2Fprod%2Fcatalogue%2F9cfb9caf5f4d226450309ada52afbca4e2a088a9%2Fimage1i93186sjehllup13rbc.jpeg" class="card-img-top" alt="Shampoo para mascotas">
                <div class="card-body">
                <h5 class="card-title">Shampoo Veterinario</h5>
                <p class="card-text">Ideal para piel sensible. 500ml.</p>
                <p class="text-success fw-bold">$22.500</p>
                </div>
            </div>
            </div>

        </div>
        </div>

    </div>
</div>