

html{
  background-size: cover;
  background-position: center;
  /* max-height: 0%; */
  height: 100%;
  background-color: #000000;
}

.body{
  /* background-image: url('https://wallpapers.com/images/hd/minimalist-blue-e0q5nh2rivmv9eio.jpg'); */
  background-color: #000000;
}
/* app-nav{
  background-color: #000000;
} */

/* main{
  height: 100%;
} */

/* html, */
/* body {
  height: 100%;
} */

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 