/* 
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 */

/*  */

/* body{
  height: 100%;
  background-color: rgb(255, 255, 255);
} */


footer{
  background-size: cover; 
  background-position: center; 

  width: 100%;
  min-height: 3vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #212529;
  
}

html, 
body { 
  height: 100%;
  background-color: #212529;
  background-image: url('https://wallpapers.com/images/hd/minimalist-blue-e0q5nh2rivmv9eio.jpg');
  background-size: cover;
  background-position: center;
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
